<div class="row">
    <form #revenueForm="ngForm" (ngSubmit)="generateChart(revenueForm)">
      <div class="container">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h6>
                  Select Monthly revenue
                </h6>
                <div class="row ">
                <div class="form-group mt-3">
                  <label for="januaryRevenue">January</label>
                  <input type="number" class="form-control size-adjust" id="januaryRevenue" name="januaryRevenue" [(ngModel)]="formData.januaryRevenue" required>
                </div>

                <div class="form-group mt-3">
                  <label for="februaryRevenue">February Revenue:</label>
                  <input type="number" class="form-control size-adjust" id="februaryRevenue" name="februaryRevenue" [(ngModel)]="formData.februaryRevenue" required>
                </div>

                <div class="form-group mt-3">
                  <label for="marchRevenue">March Revenue:</label>
                  <input type="number" class="form-control size-adjust" id="marchRevenue" name="marchRevenue" [(ngModel)]="formData.marchRevenue" required>
                </div>
                </div>
              </div>
              <div class="col-md-6">
                <h6>
                  Select Color
                </h6>
                <div class="row mt-3">
                  <div class="col-md-12">
                    <div class="form-group mt-3">
                      <label for="janColor">Color</label>
                      <select name="januaryColor" id="janColor" class="form-control adjust-width" [(ngModel)]="formData.januaryColor" required>
                        <option *ngFor="let color of colors" [value]="color.hexName">{{color.name}} </option>

                      </select>
                    </div>
                    <div class="form-group mt-3">
                      <label for="febColor">Color</label>
                      <select name="februaryColor" id="febColor" class="form-control adjust-width" [(ngModel)]="formData.februaryColor" required>
                        <option *ngFor="let color of colors" [value]="color.hexName">{{color.name}} </option>
                        
                      </select>
                    </div>

                    <div class="form-group mt-3">
                      <label for="marColor">Color</label>
                      <select name="marchColor" id="marColor"  class="form-control adjust-width" [(ngModel)]="formData.marchColor" required>
                        <option *ngFor="let color of colors" [value]="color.hexName">{{color.name}} </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Chart Type</label>
                    <div class="form-check" *ngFor="let chart of chartTypes">
                      <input type="radio" class="form-check-input" name="chartType" [value]="chart" [(ngModel)]="formData.chartType" required>
                      <label class="form-check-label">{{chart}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary mt-5" >Generate Chart</button>
              </div>
              </div>
            </div>
          </div>
	    </div>
  </form>



  <!-- Chart Container -->
  <div class="row mt-5">
    <div id="chartContainer" style="height:400px; width:auto;"></div>
  </div>
</div>